* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
    width:100%;
}

html {
    scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

a{
    color:black;
    text-decoration:none;
}

#schermata_caricamento{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

#schermata_caricamento > video{
    display: block;
    margin: 0 auto;
    width: 17%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 4.3vh;
    font-size: 1.5vw;
    font-family: 'Poppins', bold;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
    z-index:1000;
}

.logo{
    display: flex;
    align-items: center;
}

nav h3{
    padding-left: 2.5vh;
}

.menu{
    display: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
}

li{
    padding-inline: 1vw;
}

nav ul li a:hover{
    color: #147efb;
    cursor:pointer;
}

#home{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color:#4979c3;
    padding-top: 3.7vh;
}

.mobile_img{
    display: none;
}

.hello{
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
}

.home_h1{
    font-size: 4vw;
    margin: 4%;
}

.home_p{
    font-size: 1.5vw;
}

.socials a{
    color: white;
    font-size: 5vw;
}

#about{
    width: 100%;
}

.about-me img{
    border-radius: 5vh;
}

.skills{
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    padding: 4.3vh;
    padding:3.7vw;
}

.skills_p{
    width: 45vw;
    border-right: 3px solid rgba(40, 40, 40, 0.85);
}

.logos{
    display: flex;
    justify-content: space-evenly;
}

.about-me{
    display: flex;
    justify-items: center;
    padding: 3.5vw;
}

.text-side{
    padding-inline: 5vw;
    margin: auto;
}

.text-side h3{
    color: #147efb;
    text-transform: uppercase;
    font-size: 1.5vw;
    padding-bottom: 3vh;    
}

.text-side h4{
    font-size: 2.5vw;
    padding-bottom: 3vh;
}

.text-side p{
    color: #767676;
}

#contact{
    width: 100%;
    padding: 3.5vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.contact-title{
    padding-bottom: 6vh;
}

.contact-title p{
    color: #147efb;
    text-transform: uppercase;
    font-size: 1.5vw;
    padding-bottom: 3vh;  
}

.contact-title h3{
    font-size: 2.5vw;
    padding-bottom: 3vh;
}

.contact__icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact__icon-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__info{
    padding-left: 2.5vw;
}

.contact__info a:hover,.contact__info p:hover{
    color: #147efb;
    cursor:pointer;
}

.contact__icon-box span{
    color: #147efb;
}

.whatsapp_icon{
    fill:#147efb;
}
footer {
    background-color: #2d2e32;
    padding: 1.5vw 0;
    width: 100%;
}

.footerc__socials a {
    color: white;
    font-size: 5vw;
}

.footerc__socials svg:hover{
    height: 45px;
}

footer h3 {
    color: white;
    font-size: 1.7vw;
}

.container {
    margin: 0 auto;
    padding: 0 4vw;
}

.footerc {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    
    nav{
        padding: 1.5vh;
    }

    nav ul{
        width: 7.5vw;
    }

    .menu{
        display: block;
    }

    nav li{
        display: none;
    }

    nav h3{
        font-size: 5vw;
    }

    button{
        border:none;
        background-color: white;
    }
    
    .mostraDiv span{
        font-size: 10vw;
    }

    #hidden {
        display: none;
    }
    
    #mioDiv {
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed; /* Fissa il div nella finestra del browser */
        top: 0;
        left: -100%; /* Inizialmente il div è fuori dalla vista a sinistra */
        opacity: 0; /* Assicura che il div sia inizialmente invisibile */
        pointer-events: none;
        z-index:1000;
    }
    
    .close{
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 2vw;
    }
    
    #mioDiv.animazione {
        left: 0;
        opacity: 1;
        transition: all 0.75s cubic-bezier(.215, .61, .355, 1); /* Aggiunge una transizione a left e opacity */
    }
    
    .menuTendina{
        height:100vh;
    }

    .menuTendina ul li button{
        font-size: 10vw;
    }

    .menuTendina ul{
        color:black;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80vh;
        width: 100%;
    }

    .menuTendina ul li{
        display: block;
    }

    li a:hover, button:hover{
        color: #147efb;
        cursor:pointer;
    }

    #home{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top:25vw;
        padding-bottom: 12vw;
        padding-inline: 4vw;
    }

    .home_h1{
        font-size: 11vw;
        margin: 4%;
    }
    
    .home_p{
        font-size: 6vw;
    }

    .mobile_img{
        display: block;
        border-radius: 50%;
    }

    .pc_img{
        display: none;
    }

    .hello .socials{
        padding-top: 10vw;
    }

    .socials a{
        padding-inline: 4vw;
    }

    .about-me{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me img{
        width: 100%;
    }

    .text-side{
        text-align: center;
    }

    .text-side h3{
        font-size: 6vw;
        padding-bottom: 3vh;  
        padding-top: 3vh;  
    }

    .text-side h4{
        font-size: 7vw;
    }

    .skills{
        margin-top: 6vh;
        display: flex;
        flex-wrap: wrap;
    }

    .skills_p{
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: 3px solid rgba(40, 40, 40, 0.85);
        font-size: 6vw;
    }

    .logos img{
        width: 30%;
    }

    .logos{
        display: flex;
        flex-wrap: wrap;
        padding-top: 3vh;
    }
    
    .logos img{
        margin: 2vh;
    }

    .contact-title p{
        font-size: 7vw;
    }
    
    .contact-title h3{
        font-size: 11vw;
    }

    .contact__icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    }

    .contact__icon-box{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .contact__info{
        font-size: 4.5vw;
    }

    #contact{
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .footerc__socials svg:hover{
        height: 30px;
    }

    footer h3 {
        font-size: 2.7vw;
    }
}