* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.mobileElement {
    display: none;
}

.pcElement {
    display: block;
}

body {
    background-color: #f2f0eb;
    max-width: 100vw;
    /* Imposta la larghezza massima al 100% della larghezza della viewport */
    margin: 0 auto;
    /* Centra il contenuto */
    overflow-x: hidden;
    /* Evita lo scroll orizzontale */
}

html {
    scroll-behavior: smooth;
}

a {
    color: #2e2e2e;
    text-decoration: none;
}

#schermata_caricamento {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f2f0eb;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video_caricamento {
    max-width: 50%;
    max-height: 50%;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out.hidden {
    opacity: 0;
}

nav {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #f2f0eb;
    padding: 3vh;
    font-size: 1.5vw;
    font-family: 'Poppins', bold;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

button {
    color: #2e2e2e;
    border: none;
    background-color: #f2f0eb;
}

nav h3 {
    padding-left: 2.5vh;
}

#navMenu {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

#navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#navMenu.active>span:nth-child(2) {
    width: 0;
}

#navMenu.active>span:nth-child(1),
#navMenu.active>span:nth-child(3) {
    transition-delay: .4s;
}

#navMenu.active>span:nth-child(1) {
    transform: translateY(9px);
}

#navMenu.active>span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

#navMenu>span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #1e3a5f;
}

#navMenu>span:not(:last-child) {
    margin-bottom: 7px;
}

#navMenu,
#navMenu>span {
    transition: all .4s ease-in-out;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
}

li {
    padding-inline: 1vw;
}

nav ul li a:hover {
    color: #147efb;
    cursor: pointer;
    transition: color 0.3s ease;
}

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/coding.jpg');
    background-size: cover;
    background-position: center;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.mobile_img_div {
    margin-bottom: 2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_img {
    height: auto;
    border-radius: 50%;
}

.presentation {
    text-align: center;
    color: #f2f0eb;
    width: 100%;
    margin-bottom: 10vh;
}

.home_h1 {
    font-size: 2.5vw;
    margin: 2vh;
}

.home_p {
    padding-inline: 10vw;
    font-size: 1.5vw;
}

.socials {
    padding-top: 4vw;
}

.socials a {
    color: #f2f0eb;
    font-size: 1.5vw;
}

.scrolldown {
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolldown svg {
    width: 5vw;
}

@keyframes colorChange {
    0% {
        fill: white;
    }

    50% {
        fill: grey;
    }

    100% {
        fill: white;
    }
}

.color-change {
    animation: colorChange 2s infinite;
}

#about {
    width: 100vw;
}

.about-me img {
    height: auto;
    border-radius: 5vh;
    width: 70%;
}

.skills {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    padding: 4.3vh;
    padding: 3.7vw;
}

.skills_p {
    width: 45vw;
    border-right: 3px solid rgba(40, 40, 40, 0.85);
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.logos img {
    margin: 2vh;
    object-fit: contain;
    height: auto;
    width: 10%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    padding: 3.5vw;
}

.text-side {
    padding-inline: 5vw;
    margin: auto;
    text-align: center;
}

.text-side h3 {
    color: #2a63af;
    text-transform: uppercase;
    font-size: 2.5vw;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.text-side h4 {
    font-size: 2.5vw;
    padding-bottom: 3vh;
}

.text-side p {
    font-size: 1.5vw;
    color: #444444;
}

#contact {
    width: 100vw;
    padding: 3.5vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.contact-title {
    padding-bottom: 6vh;
}

.contact-title p {
    color: #2a63af;
    text-transform: uppercase;
    font-size: 2.5vw;
    padding-bottom: 3vh;
}

.contact-title h3 {
    font-size: 2.5vw;
    padding-bottom: 3vh;
}

.contact-title a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-title button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    cursor: pointer;
    color: DeepSkyBlue;
    border: none;
    background-color: #f2f0eb;
}

.contact__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact__icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__info {
    padding-left: 2.5vw;
}

.contact__info a:hover,
.contact__info p:hover {
    color: #147efb;
    cursor: pointer;
}

.contact__icon-box span {
    color: #1e3a5f;
}

footer {
    background-color: #2d2e32;
    width: 100%;
}

.footerc__socials a {
    color: #f2f0eb;
    font-size: 1.5vw;
}

.footerc__socials svg:hover {
    height: 45px;
}

footer h3 {
    color: #f2f0eb;
    font-size: 1.5vw;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 15px 25px;
}

.footerc {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {

    .mobileElement {
        display: block;
    }

    .pcElement {
        display: none;
    }

    nav {
        padding: 1.5vh;
    }

    nav ul {
        width: 7.5vw;
    }

    nav li {
        display: none;
    }

    nav h3 {
        font-size: 5vw;
        padding-left: 0;
    }

    .mostraDiv span {
        font-size: 15px;
    }

    #mioDiv {
        width: 100%;
        height: 100%;
        background-color: #f2f0eb;
        position: fixed;
        /* Fissa il div nella finestra del browser */
        top: -100%;
        /* Inizialmente il div è fuori dalla vista in alto */
        pointer-events: none;
        z-index: 2;
    }

    #mioDiv.animazione {
        top: 0;
        /* Cambia da top -100% a top: 0 per far apparire il div */
        transition: all 0.75s cubic-bezier(.215, .61, .355, 1);
        /* Aggiunge una transizione a top e opacity */
    }

    .menuTendina {
        height: 100%;
    }

    .menuTendina ul li button {
        font-size: 30px;
    }

    .menuTendina ul {
        color: #2e2e2e;
        display: flex;
        text-align: center;
        vertical-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20vh;
        height: 80vh;
        width: 100%;
        top: -50px;
    }

    .menuTendina ul li {
        display: block;
    }

    li button:hover {
        color: #147efb;
        cursor: pointer;
    }

    #home {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .mobile_img{
        width: 60%;
    }

    .home_h1 {
        font-size: 8vw;
        margin: 2%;
    }

    .home_p {
        padding-inline: 5vw;
        font-size: 4vw;
    }

    .socials a {
        padding-inline: 4vw;
    }

    .scrolldown svg{
        width: 10vw;
    }

    .text-side h3 {
        font-size: 8vw;
        padding-bottom: 3vh;
        padding-top: 3vh;
    }

    .text-side h4 {
        font-size: 6vw;
    }

    .text-side p {
        font-size: 5vw;
    }

    .skills {
        margin-top: 6vh;
        display: flex;
        flex-wrap: wrap;
    }

    .skills_p {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: 3px solid rgba(40, 40, 40, 0.85);
        font-size: 6vw;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3vh;
    }

    .logos img {
        margin: 2vh;
        object-fit: contain;
        height: auto;
        width: 30%;
    }

    .contact-title p {
        font-size: 8vw;
    }

    .contact-title h3 {
        font-size: 6vw;
    }

    .contact__icon-box {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .contact__info {
        font-size: 5vw;
    }

    #contact {
        padding-inline: 6vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .contact-title button {
        font-size: 5vw;
    }

    .footerc__socials svg:hover {
        height: 8vw;
    }

    footer h3 {
        font-size: 3vw;
    }
}